* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  height: 100%;
  width: 100%;
  overflow: hidden;
}

body {
  background: black;
  margin: 0;
  padding: 0;
  display: block;
}

#canvas1 {
  display: block;
  background: blue;
  /* border: 3px solid white; */
}

#mort,
#doux,
#tard,
#vita,
#backgroundImage,
#enemyImage,
#layer1,
#layer2,
#layer3,
#layer4,
#layer5 {
  display: none;
}
